#tabs-container {
  position: fixed;
  width: 12rem;
  height: 11rem;
  top: 40%;
  right: 3rem;
  z-index: 200;
  background-image: url("/public/images/spaceship.png");
  background-position: 15px 15px;
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabs-container > li {
  width: 5.6rem;
  height: 2.5rem;
  background-image: linear-gradient(
    109.6deg,
    rgb(252, 255, 100) 11.2%,
    rgb(245, 134, 86) 91.1%
  );
  border: 2px inset rgb(167, 51, 6);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 0 10px 2px rgb(248, 198, 60);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#tabs-container .home {
  top: -20px;
  right: 0;
}
#tabs-container .projects {
  top: 100px;
  right: -30px;
}
#tabs-container .contact {
  top: 160px;
  right: 0;
}

#tabs-container .about {
  top: 40px;
  right: -30px;
}

#tabs-container > li:active {
  box-shadow: none;
}

#tabs-container > li:active {
  opacity: 0.6;
}

#tabs-container > li > a {
  text-decoration: none;
  color: rgb(95, 32, 7);
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
